---
layout: default
title: 首页
---

{% for post in paginator.posts %}
    <div class="card border-success mb-3">
    <div class="card-header bg-transparent border-success">
      <a href="{{ post.url }}" class="card-link font-weight-bold">{{ post.title }}</a>
      <div class="float-sm-right">
      {% if post.tags.size > 0%}<i class="fa fa-tag"></i>标签:
      {% for tag in post.tags %}
      {% if tag != "" %}<span class="badge badge-pill badge-info mr-2">{{ tag }}</span>
      {% if forloop.index != post.tags.size %}{% endif %}{% endif %}{% endfor %}{% endif %}
      </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{ post.excerpt }}</p>
 	  </div>
 	  <div class="card-footer bg-transparent border-success"><i class="fa fa-clock-o"></i>日期:{{ post.date | date:"%Y年%m月%d日" }}
        <a href="{{ post.url }}" class="float-sm-right card-link text-white bg-dark">继续阅读 <i class="fa fa-arrow-circle-right"></i></a>
    </div>
    </div>
{% endfor %}
{% if paginator.total_pages > 1 %}
<nav>
<ul class="pagination">
  {% if paginator.previous_page %}
  	<li class="page-item">
      <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" tabindex="-1"><i class="fa fa-angle-left"></i>上一页</a>
    </li>
  {% else %}
  	<li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left"></i>上一页</a>
    </li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    	<li class="page-item active">
      	<span class="page-link">{{ page }}</span>
    	</li>
    {% elsif page == 1 %}
        <li class="page-item">
      	<a class="page-link" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    	</li>
    {% else %}
        <li class="page-item">
      	<a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    	</li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
  	<li class="page-item">
      <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" tabindex="-1">下一页<i class="fa fa-angle-right"></i></a>
    </li>
  {% else %}
  	<li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-right"></i>下一页</a>
    </li>
  {% endif %}
</ul>
</nav>
{% endif %}
