<div class="container-fluid footer">
  <div class="row footer">
  	<div class="col">
  		<p class="text-center text-white font-weight-bold">联系方式</p>
  		<ul class="nav justify-content-center">
  		<li class="nav-item">
    		<a class="nav-link text-light" href="#"><i class="fa fa-envelope-o"></i>电子邮件</a>
  		</li>
  		<li class="nav-item">
    		<a class="nav-link text-light" href="https://weibo.com/{{ site.weibo }}"><i class="fa fa-weibo"></i>新浪微博</a>
  		</li>
  		<li class="nav-item">
    		<a class="nav-link text-light" href="#"><i class="fa fa-qq"></i>QQ群:</a>
  		</li>
		</ul>
  	</div>
  	<div class="col">
  		<p class="text-center text-white font-weight-bold"><i class="fa fa-link"></i>友链</p>
      <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-light" href="https://github.com"><i class="fa fa-github"></i>Github</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="https://www.luogu.org/"><i class="fa fa-fire"></i>洛谷</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#"><i class="fa fa-flag"></i>待定...(可申请)</a>
      </li>
    </ul>
  	</div>
  	<div class="col">

  	</div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p class="text-center text-light">
        <small>
        <i class="fa fa-copyright"></i>{{ site.title }} 2016-2017.All right reserved.
        <br>如非特殊说明本站采用 知识共享 署名-非商业性使用-禁止演绎 4.0 国际（CC-BY-NC-ND 4.0）许可协议进行许可。
        </small>
      </p>
      <p class="text-right text-light">
        <small>这个页面最后更新于 {{ "now" | date: "%Y-%m-%d %H:%M" }}.</small>
      </p>

    </div>
  </div>
</div>
