
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #1e50a2">
      <a class="navbar-brand" href="/index.html"><i class="fa fa-empire"></i>{{ site.site_name}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
    	<span class="navbar-toggler-icon"></span>
  		</button>
  	<div class="collapse navbar-collapse" id="navbarNavDropdown">
	  	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		  <a class="nav-item nav-link" href="/index.html"><i class="fa fa-home"></i>主页</a>
	  	  <li class="nav-item dropdown">
	    	<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">分类</a>
	    	<div class="dropdown-menu">
	    	    {% for cat in site.all_cate %}
	            <a class="dropdown-item" href="/category.html#{{cat[0]}}"> {{cat[1]}} </a>
            {% endfor %}
	    	</div>
	      </li>
      <a class="nav-link nav-item" href="/about.html"><i class="fa fa-at"></i>关于</a>
      <a class="nav-link nav-item" href="/tech.html">测试页面</a>
      <a class="nav-link nav-item" href="https://wp.coioidea.com">云海拾音</a>
      <a class="nav-link nav-item" href="http://www.coioidea.com/Manual">开发文档</a>
		</ul>
    <form class="form-inline my-2 my-lg-0" id="form">
      <input class="form-control mr-sm-2" type="text" placeholder="搜点什么吧">
      <button class="btn btn-outline-info my-2 my-sm-0" id="search" type="button" data-toggle="modal" data-target="#searchmodal"><i class="fa fa-search"></i></button>
    </form>
    </div>
    </nav>
