<div class="card border-primary">
    <div class="card-header bg-transparent border-primary text-center font-weight-bold"><i class="fa fa-home"></i> {{ site.site_name }}</div>
    <div class="card-body text-center">
      <img src="https://dn-qiniu-avatar.qbox.me/avatar/bd26b2aea6563d3dff94230dd2db589e.png" class="rounded-circle">
      <h6 class="card-title" id="hitokoto"></h6>
      <p class="card-text">{{ site.description }}</p>
      <div class="d-flex p-2">
        <a href="https://github.com/{{ site.github }}" class="card-link"><i class="fa fa-github"></i>Github</a>
    	  <a href="https://weibo.com/{{ site.weibo }}" class="card-link"><i class="fa fa-weibo"></i>微博</a>
    	  <a href="/feed.xml" class="card-link"><i class="fa fa-feed"></i>RSS</a>
      </div>
    </div>
</div>
<div class="modal fade bd-example-modal-sm" id="searchmodal" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      I'm Trying to build this function.WIP...
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 15%;">15%</div>
      </div>
    </div>
  </div>
</div>