<div class="d-flex justify-content-around">
    <div class="tags">
        {% capture tags %}
        {% for tag in site.tags %}{% if tag[1].size > 1 %}
                <a data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}" 
                    href="{{ site.baseurl }}/archive/?tag={{ tag[0] | url_encode }}"
                    title="{{ tag[0] }}"
                    rel="{{ tag[1].size }}" class="badge badge-dark">{{ tag[0] }}</a>
        {% endif %}{% endfor %}
        {% endcapture %}
        {{ tags }}
    </div>
</div>