<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <style>body { padding-top: 60px; }</style>
    
  </head>
<body>

{% include header.html %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <h1 class="display-3">{{ site.title }}</h1>
        <p class="lead">{{ site.description }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
        <div class="card card-inverse card-primary text-xs-center">
        <div class="card-title">Github</div>
        <div class="card-block">
          <p class="card-text"> {{ site.github_description }} </p>
          <a href="https://github.com/{{ site.github }}" class="btn btn-primary">Take a look</a>
        </div>
        </div>
    </div>
    <div class="col-sm-4">
      <div class="card card-inverse card-primary text-xs-center">
        <div class="card-title">Weibo</div>
        <div class="card-block">
          <p class="card-text"> {{ site.weibo_description }} </p>
          <a href="https://github.com/{{ site.github }}" class="btn btn-primary">Take a look</a>
        </div>
        </div>
      </div>
    <div class="col-sm-4">
      
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
    </div>
  </div>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>
</body>
</html>
