<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="/assets/favicon.ico"/>
    <link rel="bookmark" href="/assets/favicon.ico"/>
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/bootstrap@4/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/assets.css">
    <style>body { padding-top: 60px; }</style>

  </head>
<body>

{% include header.html %}

{{ content }}

{% include footer.html %}
  <script src="https://cdn.jsdelivr.net/combine/npm/popper.js@1,npm/bootstrap@4/dist/js/bootstrap.min.js"></script>
  <script src="/assets/assets.js"></script>

</body>
</html>
