---
layout: default
---

{% for cat in site.all_cate %}{% if page.categories contains cat[0] %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/index.html"><i class="fa fa-home"></i>首页</a></li>
  <li class="breadcrumb-item"><a href="/category.html#{{cat[0]}}">{{cat[1]}}</a></li>
  <li class="breadcrumb-item active">{{ page.title }}</li>
</ol>
{% endif %}{% endfor %}
<div class="alert alert-success">
  <h3 class="alert-heading">{{ page.title }}</h3>
  {% if page.tags.size > 0%}
  <i class="fa fa-tag"></i> 标签： {% for tag in page.tags %}{% if tag != "" %}<a href="/tag.html/{{ tag }}" class="badge badge-pill badge-info mr-2">{{ tag }}</a>{% if forloop.index != page.tags.size %} {% endif %}{% endif %}{% endfor %}{% endif %}
  <div class="float-sm-right">
  <i class="fa fa-clock-o"></i> 日期：{{ page.date | date:"%Y-%m-%d" }}
  </div>
</div>
<hr>

<div class="card markdown-body" id="post">
  <div class="card-body">
    {{ content }}
  </div>
</div>
<div id="gitalk-container"></div>
<script>
  var gitalk = new Gitalk({
  clientID: `7199df80e52dd19bcc79`,
  clientSecret: `dc1d37723dcc52aa9459ad23f5baf42cf440b1d1`,
  repo: `SuperWangCC.github.io`,
  owner: 'SuperWangCC',
  admin: ['SuperWangCC'],
  id: '{{ page.id }}',
  
  });
  gitalk.render('gitalk-container');
</script> 