---
layout: default
---

{% for cat in site.all_categories %}{% if page.category == cat[0] %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">首页</a></li>
  <li class="breadcrumb-item"><a href="{{cat[2]}}">{{cat[1]}}</a></li>
  <li class="breadcrumb-item active">{{ page.title }}</li>
</ol>
{% endif %}{% endfor %}
<h2>{{ page.title }}</h2>
{% if page.tags.size > 0%}
<b>标签：</b>{% for tag in page.tags %}{% if tag != "" %}<a href="/tags.html#{{ tag }}"><i>{{ tag }}</i></a>{% if forloop.index != page.tags.size %}, {% endif %}{% endif %}{% endfor %}{% endif %}
<div class="text-xs-right">
<i class="fa fa-clock-o" aria-hidden="true"></i> 日期：{{ post.date }}
</div>

{{ content }}
